:root{
    ---light-gray: #acacac;
    ---light-blue: #bad6e9;
    ---white: #fff;
    ---purple: #6610f2;
    ---dark-purple: #5613c2;
    ---gray: #dddddd;
    ---shadow: rgba(0, 0, 0, 0.301);
}

.stats{
    display: flex;
    flex-direction: column;
}
.stat{
    list-style: none;
}
.pokedex-top{
    background-color: var(---white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(---shadow);
}
.btn-purple{
    background-color: var(---purple);
}
.btn-purple:hover,
.btn-purple:active{
    background-color: var(---dark-purple);
}
.form-control::placeholder{
    color: #000;
}
.pokemon{
    border-radius: 4px;
    border: 2px solid var(---light-gray);
    padding: 1rem;
    background-color: var(---gray);
}
.screen{
    background-color: var(---light-blue);
}
.progress.bg-grey{
    background-color: var(---light-gray);
}